@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: #c6c6c6;
  --background: #f9f9f9;
  --foreground: #1a1c1c;
  --card: #ffffff;
  --card-foreground: #1a1c1c;
  --popover: #ffffff;
  --popover-foreground: #1a1c1c;
  --primary: #000000;
  --primary-foreground: #e2e2e2;
  --secondary: #5f5e5e;
  --secondary-foreground: #ffffff;
  --muted: #eeeeee;
  --muted-foreground: #474747;
  --accent: #eeeeee;
  --accent-foreground: #1a1c1c;
  --destructive: #ba1a1a;
  --destructive-foreground: #ffffff;
  --input: #c6c6c6;
  --ring: #000000;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  vertical-align: middle;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
.serif {
  font-family: "Newsreader", serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.scanning-line {
  height: 2px;
  background: #000;
  position: absolute;
  width: 100%;
  top: 0;
  animation: scan 3s linear infinite;
}

@keyframes scan {
  0% {
    top: 0%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}
